---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=1840751819584940&client_secret=0cc16d153fa0c42e954e2f060e691dc6&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"access_token":"1840751819584940|Xgz3Daw4T-MrxGL6LH-xO48mpiY","token_type":"bearer"}'
  recorded_at: Thu, 14 Sep 2017 13:44:18 GMT
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=1840751819584940%7CXgz3Daw4T-MrxGL6LH-xO48mpiY&appsecret_proof=388455b7c6a2a3ffc699ded7c7a8f59f6fc1d23a23cbc23ef609757aebe42550&center=25.084555,121.456564&distance=500&fields=location,name,overall_star_rating,rating_count,phone,link,price_range,category,category_list,hours,website,is_permanently_closed&limit=100&locale=zh-TW&matched_categories=FOOD_BEVERAGE&q=restaurant&type=place
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ff6c31a898ab50927d29c647adfceb9686708ac3"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.9
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"location":{"city":"Xinbei","country":"Taiwan","latitude":25.08335,"longitude":121.4613,"street":"\u8606\u6d32\u5340\u4e2d\u539f\u8def5\u5df76\u865f","zip":"24762"},"name":"\u8001\u5df4\u5239","overall_star_rating":4.6,"rating_count":65,"phone":"0968-970-688","link":"https:\/\/www.facebook.com\/LauPaSat.tw\/","price_range":"$","category":"\u65b0\u52a0\u5761\u9910\u5ef3","category_list":[{"id":"142590562472824","name":"\u65b0\u52a0\u5761\u9910\u5ef3"}],"hours":{"mon_1_open":"11:30","mon_1_close":"14:00","mon_2_open":"17:30","mon_2_close":"21:30","tue_1_open":"11:30","tue_1_close":"14:00","tue_2_open":"17:30","tue_2_close":"21:30","wed_1_open":"11:30","wed_1_close":"14:00","wed_2_open":"17:30","wed_2_close":"21:30","thu_1_open":"11:30","thu_1_close":"14:00","thu_2_open":"17:30","thu_2_close":"21:30","fri_1_open":"11:30","fri_1_close":"14:00","fri_2_open":"17:30","fri_2_close":"21:30","sat_1_open":"11:30","sat_1_close":"21:30","sun_1_open":"11:30","sun_1_close":"21:30"},"website":"https:\/\/www.facebook.com\/LauPaSat.tw\/","is_permanently_closed":false,"id":"1896532713968030"},{"location":{"city":"Luchou","country":"Taiwan","latitude":25.08385,"longitude":121.46066,"street":"\u8606\u6d32\u5340\u4e2d\u539f\u8def12\u5df719\u865f","zip":"24762"},"name":"\u6069\u5bb6\u5bf6\u7cbe\u7dfb\u934b\u7269","overall_star_rating":4.8,"rating_count":98,"phone":"0222817300","link":"https:\/\/www.facebook.com\/Marketinggo5\/","price_range":"$$$","category":"\u4e9e\u6d32\u9910\u5ef3","category_list":[{"id":"185855984789970","name":"\u4e9e\u6d32\u9910\u5ef3[...]
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=1840751819584940&client_secret=0cc16d153fa0c42e954e2f060e691dc6&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"access_token":"1840751819584940|Xgz3Daw4T-MrxGL6LH-xO48mpiY","token_type":"bearer"}'
  recorded_at: Thu, 14 Sep 2017 13:44:19 GMT
recorded_with: VCR 3.0.3
