
h1 = "Welcome to FoodSearch"

br

h2 = "Add Me!"

br

= link_to "https://line.me/R/ti/p/%40cqh3529k" do
	= image_tag "https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"

br

= image_tag "http://qr-official.line.me/L/J_2eIaGVVg.png"

= @test