defaults: &defaults
  redis:
    url: redis://127.0.0.1:6379/0
  line:
    channel_secret: ''
    channel_token: ''
  google:
    google_api_key: ''
  facebook:
    app_id: ''
    app_secret: ''
    app_access_token: ''
    access_token: ''
    page_access_token: ''
  telegram:
    token:

development:
  <<: *defaults

test:
  <<: *defaults