defaults: &defaults
  redis_url: redis://127.0.0.1:6379/0
  line_channel_secret: 
  line_channel_token: 
  google_api_key: 
  google_js_api_key: 
  facebook_app_id: 
  facebook_app_secret: 
  telegram_token: 

development:
  <<: *defaults

test:
  <<: *defaults