@mixin set-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: space-around;
}

.card-horizontal {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 3px;
  width: 94%;
  height: 120px;
  display: flex;
  border: solid 1px #bdc3c7;
  .card-img-left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100px;
    height: 100%;
    border: solid 1px #bdc3c7;
  }
  .card-body {
    margin: 0 5px;
    width: 100%;
    .card-title {
      font-weight: bold;
      font-size: 16px;
    }
    .card-description {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 14px;
        text-align: left;
        margin: 0px 0px;
      }
    }
  }
}
