// @media all and (max-width: 450px) {
//   .card {
//     width: 100%;
//     .card-img-top {
//       width: 100%;}
//   }
// }

.custom_icon_size { font-size: 15px; }

.tag {
  display: inline-block;
  background: #555;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin: 0.3em 0.3em 0.3em 0px;
}

#restaurants {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  overflow-x: '';
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;}

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 8px;
  width: 320px;
  .card-img-top {
    background-repeat: no-repeat; 
    background-size: cover;  
    background-position: 50% 50%;  
    width: 320px;
    height: 180px;
    border: solid 1px #bdc3c7;}
  .title h4 { font-weight: bold;}
  .content {
    margin: 5px 15px;
    .text {
      display: flex;
      flex-wrap: wrap; 
      .tag-float-left {
        width: 85%; 
        text-align: left;
      }
      .tag-float-right { 
        text-align: right;
        width: 15%;
        .index_tag {
          display: inline-block;
          border-radius: 50%;
          background-color: #133EC7;
          color: white;
          padding: 0.2em 0.5em;
          font-weight: bold;}
        }
    }
    .description p {
      text-align: left;
      margin: 5px 0px;}
    .location {
      margin: 5px 0px;
      display: flex;
      flex-wrap: wrap; 
      .distance {
        width: 30%; 
        text-align: left;
        .inon-text p {
          display: inline-block; 
          margin-left: 4px;
          height: 100%; 
          font-size: 14px;}}
      .score {
        width: 70%;
        text-align: right;
        .inon-text p {
          display: inline-block;
          margin-left: 4px; 
          font-size: 14px;}}}
    }
  .data {
    color: #81878b; }
    .data li {
      width: 33%;
      text-align: center;
      display: inline-block;
      border-top: solid 1px #bdc3c7;
      border-right: solid 1px #bdc3c7; }
      .data li:last-child {
        border-right: none;}
}
