#locale-button {
  margin: 8px 5px 5px 5px !important;
}
.nav-custom {
  background-color: #383838 !important;
}
.web-title {
  color: white !important;
  font-weight: bold;
}
.map-icon {
  color: #DD3639 !important; 
  position:relative;
  top: -8px;
  right: 5px;
}
#results_num {
  visibility: visible;
  position:fixed;
  height: 30px;
  top: 54px;
  right: 0;
  padding: 5px;
  background-color: #ddd;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  justify-content: center;
}
#display-link {
  visibility: visible;
  position: fixed;
  bottom: 65px;
  right: 15px;
}
#up-link {
  visibility: visible;
  position: fixed;
  bottom: 95px;
  right: 15px;
}
.select_button {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #383838;
  border-color: #e7e7e7;
  :only-child {
    margin-left: auto !important
  }
}

.btn-custom {
  background-color: black !important;
  font-weight: bold !important;
  color: white !important;
  border-color: #2F2F2F !important;
  margin: 0 5px !important;
}
@media all and (max-width: 768px) {}
