#map {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#address-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 10px 8px 10px;
  text-overflow: ellipsis;
  width: 300px;
  border: 1px solid;
  display: none;
}

#address-input::-webkit-input-placeholder {
  color: #F8574B;
  font-size: 16px;
}

#address-input:focus {
  border-color: #4d90fe;
}

#clear-search {
  margin-top: 25px;
  cursor: pointer;
  margin-left: -25px;
  display: none;
}

#locate-button {
  margin-left: 10px;
  color: red;
  text-shadow: 1px 5px 5px rgba(0,0,0,0.7);
  cursor: pointer;
}
