.web-title {
  color: black !important;
  font-weight: bold;}
.map-icon {
  color: #DD3639 !important; 
  position:relative;
  top: -8px;
  right: 5px;}

#results_num {
  height: 20px;
  text-align: center;
  font-weight: bold;}

// 下拉式
.select {
  display: flex;
  font-size: 18px;
  background-color: white;
  justify-content: center;
  .box{
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;}
}

#locations {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0px;
  flex-wrap: wrap;
  overflow-x: '';
  align-items: center;
  justify-content: center;}

@media all and (max-width: 768px) {
  #locations {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    overflow-x: '';
    align-items: center;
    justify-content: center;}
  .select {
    display: flex;
    font-size: 18px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 0px;
    height: 50px; 
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid transparent;
    border-color: #e7e7e7;
    .box{
      flex: 1;
      margin: 0px;
      border-radius: 10px;
      justify-content: center;}
  }
}