.web-title {
  color: black !important;
  font-weight: bold;}
.map-icon {
  color: #DD3639 !important; 
  position:relative;
  top: -8px;
  right: 5px;}

#results_num {
  height: 20px;
  text-align: center;
  font-weight: bold;}

// 下拉式
.select {
  display: flex;
  float: right;
  font-size: 18px;
  background-color: white;
  .box{
    flex: 1;
    margin: 10px;}
}