.web-title {
  color: black !important;
  font-weight: bold;}
.map-icon {
  color: #DD3639 !important; 
  position:relative;
  top: -8px;
  right: 5px;}

#results_num {
  text-align: center;
  font-weight: bold;}

// 下拉式
.select {
  float: right;
  font-size: 18px;
  width: 150px;
  height: 30px;
  margin: 10px;
  text-indent: 40px;
  background-color: white;}