.full-width {
	width: 100%;
}

.facebook-color {
	color: #1245F5;
}

.google-color {
	color: #E0161B;
}

.button-link {
	display: block;
}

.card-bolder {
	// border: 1px solid #ddd;
}
.cards {
  display: flex;
  justify-content: space-between;
}

.col-sm-3{
  display: inline-block;
}