.facebook-color {color: #3b5998;}
.google-color {color: #dd4b39;}
.web-title {
  color: black !important;
  font-weight: bold;}
.map-icon {
  color: #DD3639 !important; 
  position:relative;
  top: -8px;
  right: 5px;}

// 下拉式
.select {
  float: right;
  font-size: 18px;
  width: 150px;
  height: 30px;
  margin: 10px;
  text-indent: 40px;
  background-color: white;
}

// card
// .scroll_inline {
//   overflow-x: scroll; 
//   white-space: nowrap;
// }
.inline {
  display: inline-block;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
  height: 35vh;
}

.card-title { display: inline-block; font-weight: bold; }

.card-text {
  text-align: left;
  height: 100px;
  margin: 0px 20px 0px 20px;
}

.card-location {
  text-align: right;
  height: 50px;
  margin: 0px 20px 0px 20px;
}

// 按鈕
.data {
  margin-top: .6em;
  color: #81878b; }
  .data li {
    width: 33%;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    border-right: solid 1px #bdc3c7; }
    .data li:last-child {
      border: none; }