form#searchform.searchform
  input#searchbox.searchbox[type="text" value="" name="" placeholder=i18n_placeholder(:search_field)]
  button#searchsubmit.searchsubmit[type="submit" value='']
  	i.fa.fa-search